.task-list-item {
    padding: 20px 20px;
    font-size: 1.2rem;
    margin: 10px 0;
    border-radius: 3px;
    background-color: #4e4e5c;
    color: rgb(240, 232, 232);
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
}

.mark-btn,
.remove-btn {
    transform: scale(1.2);
    margin: 0 7px;
    cursor: pointer;
}

.mark-btn:hover,
.remove-btn:hover {
    color: rgb(211, 202, 202);
}

.mark-btn:hover {
    color: rgb(19, 82, 19);
}

.remove-btn:hover {
    color: rgb(180, 11, 11);
}
